﻿main
{
    display : block;
    margin : auto;
    text-align : center;
    padding-top : 2em;
}
#errorDiv
{
    display : none;
    color : red;
    font-weight : bold;
}
table
{
    display: table;
    border-collapse: collapse;
    margin : auto;
    font-family : verdana, sans-serif;
    /*border-spacing: 2px;
    border-color: gray;*/
}
thead th
{
    font-weight : 600;
}
tbody th
{
    background-color : yellow;
    border : none;
    padding : .4em .6em;
}
td
{
    padding : .4em .6em;
    text-align : center;
    border : 1px solid black;
}
.nobg
{
    background-color : transparent;
}
.squareValue
{
    background-color : yellow;
    font-weight : 900;
}